body
{
    background-color: lightyellow;
}
h1
{
    background-color: blue;
}
a
{
    color: forestgreen;
}
#links a
{
    
    color: red;
}
#links
{
    width: 100%;
    background-color: #dddddd;
    text-align: center;
}
p
{
    color: blueviolet;
}
.maindev
{
    background-color: aqua;
}
.maindev p
{
    background-color: antiquewhite;
}
.maindev > p
{
    color: red;
}
.maindev + p
{
    background-color: red;
}
.maindev ~ p
{
    color: yellow;
}
.maindev ~ div
{
    background-color: black;
}