body
{
    background-color: rgb(243, 243, 126);
}
h1
{
    background-color: blue;
}
a
{
    color: forestgreen;
}
#links a
{
    
    color: red;
}
#links
{
    width: 100%;
    background-color: #dddddd;
    text-align: center;
}
p
{
    color: blueviolet;
}
.maindev
{
    background-color: aqua;
}
 .maindev p
{
    background-color: antiquewhite;
}
.maindev > p
{
    color: red;
}
.maindev + p
{
    background-color: rgb(92, 25, 25);
}
.maindev ~ p
{
    color: rgb(207, 21, 151);
}
.maindev ~ div
{
    background-color: black;
}