/* * {
    color: red;
} */
#thirdPara{
    position: relative;
    top: 10px;
    left: 100px;
}
#fourthPara{
    position: absolute;
    top: 10px;
    left: 0px;
}
.xyz{
    color: blue;
}
.pqr{
    color: crimson;
    border: 1px solid greenyellow;
    padding: 35px;
}
.nature1 .matterFloat{
    float: left;
}
.nature2{
    float: right;
}
